[Desktop Entry]
Exec=kcmshell5 kcm_sddm
Icon=preferences-system-login
Type=Service
Categories=LXQt;Settings;DesktopSettings;Qt;
OnlyShowIn=LXQt;

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_sddm
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=session
X-KDE-Weight=10
X-KDE-Keywords=sddm,display manager,theme
X-KDE-Keywords[ar]=sddm,مدير عرض,سمة
X-KDE-Keywords[bs]=sddm,menadžer ekrana,teme
X-KDE-Keywords[ca]=sddm,gestor de sessions,tema
X-KDE-Keywords[ca@valencia]=sddm,gestor de sessions,tema
X-KDE-Keywords[cs]=sddm,správce obrazovky,motiv
X-KDE-Keywords[da]=sddm,display manager,tema,login skærm
X-KDE-Keywords[de]=SDDM,Display-manager,Design
X-KDE-Keywords[el]=sddm,διαχειριστής εμφάνισης,θέμα
X-KDE-Keywords[en_GB]=sddm,display manager,theme
X-KDE-Keywords[es]=sddm,gestor de pantallas,tema
X-KDE-Keywords[et]=sddm,kuvahaldur,teema
X-KDE-Keywords[eu]=sddm,bistaratze kudeatzailea,gaia
X-KDE-Keywords[fi]=sddm,display manager,theme,kirjautumisruutu,kirjautumisohjelma,sisäänkirjautumisruutu,sisäänkirjautumisohjelma,teema
X-KDE-Keywords[fr]=sddm,gestionnaire d'affichage,thème
X-KDE-Keywords[gl]=sddm,xestor de pantallas,tema
X-KDE-Keywords[he]=sddm,display manager,theme,מנהל תצוגה,ערכת נושא
X-KDE-Keywords[hu]=sddm,bejelentkezéskezelő,téma
X-KDE-Keywords[id]=sddm,pengelola display,tema
X-KDE-Keywords[it]=sddm,gestore dello schermo,tema
X-KDE-Keywords[ko]=sddm,display manager,theme,디스플레이 관리자,테마
X-KDE-Keywords[lt]=sddm,ekrano tvarkytuvė,tema
X-KDE-Keywords[nb]=sddm,vindusbehandler,tema
X-KDE-Keywords[nl]=sddm,displaymanager,thema
X-KDE-Keywords[nn]=sddm,innloggingshandsamar,tema
X-KDE-Keywords[pa]=sddm,ਡਿਸਪਲੇਅ ਮੈਨੇਜਰ,ਥੀਮ
X-KDE-Keywords[pl]=sddm,menadżer wyświetlania,motyw,wystrój, zarządzanie wyświetlaniem
X-KDE-Keywords[pt]=sddm,gestor de autenticação,tema
X-KDE-Keywords[pt_BR]=sddm,gerenciador de tela,tema
X-KDE-Keywords[ro]=sddm,gestionar de afișaje,temă
X-KDE-Keywords[ru]=sddm,display manager,theme,users,login,greeting,logo,styles,background,wallpapers,sessions,    shutdown,restart,диспетчер сеанса,диспетчер входа в систему,пользователи,логин,вход в систему,приветствие,логотип,лого,стили,тема курсоров мыши,указатели мыши,фон,обои,сессии,сеансы,завершение работы,перезагрузка,выключение,автоматический вход в систему
X-KDE-Keywords[sk]=sddm,správca obrazovky,téma
X-KDE-Keywords[sl]=sddm,upravljalnik zaslona,tema
X-KDE-Keywords[sr]=sddm,display manager,theme,СДДМ,менаџер пријављивања,тема
X-KDE-Keywords[sr@ijekavian]=sddm,display manager,theme,СДДМ,менаџер пријављивања,тема
X-KDE-Keywords[sr@ijekavianlatin]=sddm,display manager,theme,SDDM,menadžer prijavljivanja,tema
X-KDE-Keywords[sr@latin]=sddm,display manager,theme,SDDM,menadžer prijavljivanja,tema
X-KDE-Keywords[sv]=sddm,skärmhanterare,tema
X-KDE-Keywords[tr]=sddm, görüntü yöneticisi, tema
X-KDE-Keywords[uk]=sddm,display manager,theme,керування входом,сддм,тема
X-KDE-Keywords[x-test]=xxsddmxx,xxdisplay managerxx,xxthemexx
X-KDE-Keywords[zh_CN]=sddm,display manager,theme，显示管理器，主题
X-KDE-Keywords[zh_TW]=sddm,display manager,theme

Name=Login Screen (SDDM)
Name[ar]=مدير الولوج (SDDM)
Name[bs]=Prijavni ekran (SDDM)
Name[ca]=Pantalla d'inici de sessió (SDDM)
Name[ca@valencia]=Pantalla d'inici de sessió (SDDM)
Name[cs]=Přihlašovací obrazovka (SDDM)
Name[da]=Login-skærm (SDDM)
Name[de]=Anmeldebildschirm (SDDM)
Name[el]=Οθόνη εισόδου (SDDM)
Name[en_GB]=Login Screen (SDDM)
Name[es]=Pantalla de inicio de sesión (SDDM)
Name[et]=Sisselogimisekraan (SDDM)
Name[eu]=Saio hasteko pantaila (SDDM)
Name[fi]=Kirjautumisruutu (SDDM)
Name[fr]=Écran de connexion (SDDM)
Name[gl]=Pantalla de identificación (SDDM)
Name[he]=מסך התחברות
Name[hu]=Bejelentkező képernyő (SDDM)
Name[id]=Layar Login (SDDM)
Name[it]=Schermata di accesso (SDDM)
Name[ko]=로그인 화면(SDDM)
Name[lt]=Prisijungimo langas (SDDM)
Name[nb]=Loginn-skjerm (SDDM)
Name[nl]=Aanmeldscherm (SDDM)
Name[nn]=Innloggingsbilete (SDDM)
Name[pa]=ਲਾਗਇਨ ਸਕਰੀਨ (SDDM)
Name[pl]=Ekran logowania (SDDM)
Name[pt]=Ecrã de Autenticação (SDDM)
Name[pt_BR]=Tela de autenticação (SDDM)
Name[ro]=Ecran de autentificare (SDDM)
Name[ru]=Вход в систему (SDDM)
Name[sk]=Prihlasovacia obrazovka (SDDM)
Name[sl]=Prijavni zaslon (SDDM)
Name[sr]=Пријавни екран (СДДМ)
Name[sr@ijekavian]=Пријавни екран (СДДМ)
Name[sr@ijekavianlatin]=Prijavni ekran (SDDM)
Name[sr@latin]=Prijavni ekran (SDDM)
Name[sv]=Inloggningsfönster (SDDM)
Name[tr]=Oturum Ekranı (SDDM)
Name[uk]=Вікно входу (SDDM)
Name[x-test]=xxLogin Screen (SDDM)xx
Name[zh_CN]=登录屏幕 (SDDM)
Name[zh_TW]=登入畫面（SDDM）

Comment=Configure Login Manager
Comment[ca]=Configura el gestor d'accés
Comment[ca@valencia]=Configura el gestor d'accés
Comment[cs]=Nastavit správce přihlášení...
Comment[da]=Indstil loginhåndtering
Comment[de]=Anmeldungsverwaltung einrichten
Comment[en_GB]=Configure Login Manager
Comment[es]=Configurar el gestor de inicio de sesión
Comment[eu]=Konfiguratu saio-hasteko kudeatzailea
Comment[fi]=Kirjautumisikkunan asetukset
Comment[fr]=Configurer le gestionnaire de connexion
Comment[gl]=Configurar o xestor de identificación
Comment[hu]=A bejelentkezéskezelő beállításai
Comment[id]=Konfigurasi Pengelola Login
Comment[it]=Configura gestore degli accessi
Comment[ko]=로그인 관리자 설정
Comment[nl]=Aanmeldbeheerder configureren
Comment[nn]=Set opp innloggingshandsamar
Comment[pl]=Ustawienia zarządzania logowaniem
Comment[pt]=Configurar o Gestor de Autenticação
Comment[pt_BR]=Configurar o gerenciador de login
Comment[ru]=Настройка диспетчера входа в систему
Comment[sk]=Nastaviť správcu prihlásenia
Comment[sl]=Nastavi upravljalnika prijav
Comment[sr]=Подесите менаџер пријављивања
Comment[sr@ijekavian]=Подесите менаџер пријављивања
Comment[sr@ijekavianlatin]=Podesite menadžer prijavljivanja
Comment[sr@latin]=Podesite menadžer prijavljivanja
Comment[sv]=Anpassa inloggningshanterare
Comment[tr]=Giriş Yöneticisini Yapılandır
Comment[uk]=Налаштування керування входом до системи
Comment[x-test]=xxConfigure Login Managerxx
Comment[zh_CN]=配置登录管理器
Comment[zh_TW]=配置登入管理器

