[Desktop Entry]
Name=Deactive lock screen
Comment=Deactive the gnome lock screen in the live session
Type=Application
Icon=nautilus
Exec=sh -c "gsettings set org.gnome.desktop.screensaver lock-enabled false"

