[Desktop Entry]
Categories=LXQt;Settings;DesktopSettings;Qt;
Comment[en_US]=Configure KWin Settings
Comment=Configure KWin Settings
Exec=kcmshell5 kcm_kwin_virtualdesktops kcm_launchfeedback kcmkwineffects kwincompositing kwindecoration kwinoptions kwinrules kwinscreenedges kwinscripts kwintabbox kwintouchscreen kgamma
GenericName[en_US]= KWin Settings
GenericName=KWin Settings
Icon=kwin
MimeType=
Name[en_US]=KWin Settings
Name=KWin Settings
OnlyShowIn=LXQt;
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=