[Desktop Entry]
Categories=Settings;System;Qt;Network;
Comment=QT GUI frontend for connman
Exec=cmst -w5
GenericName=Network Configuration
Icon=cmst
Keywords=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Bluetooth;vpn;DNS;
Name=Connman UI Setup
Name[de]=Netzwerk-Konfiguration
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
X-LXQt-Need-Tray=true
