<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<menu id="installer" label="Installation">
	<item label="Calamares Installer">
		<action name="Execute">
			<command>sudo calamares</command>
		</action>
	</item>
	<item label="Architect Installer">
		<action name="Execute">
			<command>termite -e "sudo setup"</command>
		</action>
	</item>
</menu>
<menu id="common-utilities" label="Utilities">
	<item label="Calculator">
		<action name="Execute">
			<command>galculator</command>
		</action>
	</item>
	<item label="Archive Manager">
		<action name="Execute">
			<command>xarchiver</command>
		</action>
	</item>
	<item label="PDF Viewer">
		<action name="Execute">
			<command>qpdfview</command>
		</action>
	</item>
	<item label="Picture Viewer">
		<action name="Execute">
			<command>gpicview</command>
		</action>
	</item>
</menu>
<menu id="disk-utilities" label="Disk Utilities">
	<item label="Clonezilla">
		<action name="Execute">
			<command>termite -e "sudo clonezilla"</command>
		</action>
	</item>
	<item label="GParted">
		<action name="Execute">
			<command>zensu gparted</command>
		</action>
	</item>
    <item label="Testdisk">
        <action name="Execute">
            <command>termite -e "sudo testdisk"</command>
        </action>
    </item>
</menu>
<menu id="network-utilities" label="Network Utilities">
	<item label="Zen Map">
		<action name="Execute">
			<command>zensu zenmap"</command>
		</action>
	</item>
</menu>
<menu id="screenshot" label="Screenshot">
	<item label="Screenshot in 5">
		<action name="Execute">
			<command>scrot -d 5 &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f&apos;</command>
		</action>
	</item>
	<item label="Screenshot in 10">
		<action name="Execute">
			<command>scrot -d 10 &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f&apos;</command>
		</action>
	</item>
	<item label="Screenshot with Selection">
		<action name="Execute">
			<command>scrot -s &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f&apos;</command>
		</action>
	</item>
</menu>
<menu id="preferences" label="Preferences">
	<menu id="obConfig" label="Openbox">
        <item label="Autostart Editor">
            <action name="Execute">
                <command>ob-autostart</command>
            </action>
        </item>
        <item label="Keybind Editor">
            <action name="Execute">
                <command>obkey</command>
            </action>
        </item>
		<item label="LX Appearance">
			<action name="Execute">
				<command>lxappearance</command>
			</action>
		</item>
        <item label="Menu Editor">
            <action name="Execute">
                <command>kickshaw</command>
            </action>
        </item>
		<item label="Openbox Configuration">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
		<separator label="Config Files"/>
		<item label="Edit menu.xml">
			<action name="Execute">
				<command>gedit ~/.config/openbox/menu.xml</command>
			</action>
		</item>
		<item label="Edit rc.xml">
			<action name="Execute">
				<command>gedit ~/.config/openbox/rc.xml</command>
			</action>
		</item>
		<item label="Edit autostart">
			<action name="Execute">
				<command>gedit ~/.config/openbox/autostart</command>
			</action>
		</item>
		<separator/>
		<item label="Openbox Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Openbox Restart">
			<action name="Restart"/>
		</item>
	</menu>
	<menu id="CompositingPipeMenu" label="Compositor" execute="manjaro-compositor"/>
	<menu id="PolybarPipeMenu" label="Polybar" execute="manjaro-polybar-pipemenu"/>
	<menu id="ConkyPipeMenu" label="Conky" execute="manjaro-conky-pipemenu"/>
	<menu id="TintPipeMenu" label="Tint2" execute="manjaro-tint2-pipemenu"/>
	<item label="Panel Chooser">
		<action name="Execute">
			<command>manjaro-panel-chooser</command>
		</action>
	</item>
	<separator/>
	<item label="Wallpaper">
		<action name="Execute">
			<command>nitrogen</command>
		</action>
	</item>
	<item label="Rofi Theme">
		<action name="Execute">
			<command>rofi-theme-selector</command>
		</action>
	</item>
	<separator/>
</menu>
<menu id="system-settings" label="System Settings">
	<item label="Pacui">
		<action name="Execute">
			<command>termite -e pacui</command>
		</action>
	</item>
	<item label="Root File Manager">
		<action name="Execute">
			<command>zensu thunar</command>
		</action>
	</item>
	<item label="Screen Layout">
		<action name="Execute">
			<command>arandr</command>
		</action>
	</item>
	<item label="GParted">
		<action name="Execute">
			<command>zensu gparted</command>
		</action>
	</item>
</menu>

<menu id="root-menu" label="Openbox 3">
	<separator label="Manjaro Openbox"/>
	<menu id="installer"/>
	<separator/>
    <item label="File Manager">
        <action name="Execute">
            <command>thunar</command>
        </action>
    </item>
	<item label="Terminal">
		<action name="Execute">
			<command>termite</command>
		</action>
	</item>
    <item label="Text Editor">
        <action name="Execute">
            <command>gedit</command>
        </action>
    </item>
	<item label="Web Browser">
		<action name="Execute">
			<command>basilisk</command>
		</action>
	</item>
	<separator/>
	<menu id="common-utilities"/>
    <menu id="disk-utilities"/>
    <menu id="network-utilities"/>
	<menu id="screenshot"/>
	<separator/>
	<menu id="pipe-placesmenu" label="Places" execute="manjaro-places-pipemenu --recent ~/"/>
	<separator/>
	<menu id="preferences"/>
	<menu id="system-settings"/>
	<menu id="help" label="Help and Info" execute="manjaro-help-pipemenu"/>
	<menu id="keybinds" label="Keybinds" execute="manjaro-kb-pipemenu"/>
	<separator/>
	<item label="Switch Menu">
		<action name="Execute">
			<command>switchmenu -dynamic</command>
		</action>
	</item>
	<separator/>
	<item label="Lock Screen">
		<action name="Execute">
			<command>lockscreen -- scrot</command>
		</action>
	</item>
	<item label="Exit Openbox">
		<action name="Execute">
			<command>rofr.sh -l</command>
		</action>
	</item>
</menu>

</openbox_menu>