<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<!-- DISK TOOLS MENU -->
<menu id="disk-utilities" label="Disk Tools">
    <item label="Clonezilla">
        <action name="Execute">
            <command>termite -e "sudo clonezilla"</command>
        </action>
    </item>
    <item label="Gparted">
        <action name="Execute">
            <command>gksu gparted</command>
        </action>
    </item>
    <item label="Testdisk">
        <action name="Execute">
            <command>termite -e "sudo testdisk"</command>
        </action>
    </item>
</menu>
<!-- SCREENSHOT MENU -->
<menu id="screenshot" label="Screenshot">
    <item label="Screenshot in 5">
        <action name="Execute">
            <command>scrot -d 5 &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
        </action>
    </item>
    <item label="Screenshot in 10">
        <action name="Execute">
            <command>scrot -d 10 &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
        </action>
    </item>
    <item label="Screenshot With Selection">
        <action name="Execute">
            <command>scrot -s &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
        </action>
    </item>
</menu>
<!-- PREFERENCES MENU -->
<menu id="preferences" label="Preferences">
	<menu id="appearance-config" label="Customize Look and Feel">
		<item label="Gtk2 Theme">
			<action name="Execute">
				<command>lxappearance</command>
			</action>
		</item>
		<item label="Gtk3 Theme">
			<action name="Execute">
				<command>xfce4-appearance-settings</command>
			</action>
		</item>
		<item label="Kvantum Manager">
			<action name="Execute">
				<command>kvantummanager</command>
			</action>
		</item>
		<item label="Qt5 Settings">
			<action name="Execute">
				<command>qt5ct</command>
			</action>
		</item>
		<item label="Openbox">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
	</menu>
	<menu id="openbox-config" label="Openbox">
		<item label="GUI Menu Editor">
			<action name="Execute">
				<command>kickshaw</command>
			</action>
		</item>
		<item label="GUI Keybind Editor">
			<action name="Execute">
				<command>obkey</command>
			</action>
		</item>
		<separator/>
		<item label="Edit autostart">
			<action name="Execute">
				<command>exo-open ~/.config/openbox/autostart</command>
			</action>
		</item>
		<item label="Edit menu.xml">
			<action name="Execute">
				<command>exo-open ~/.config/openbox/menu.xml</command>
			</action>
		</item>
		<item label="Edit rc.xml">
			<action name="Execute">
				<command>exo-open ~/.config/openbox/rc.xml</command>
			</action>
		</item>
	</menu>
	<menu id="PolybarPipeMenu" label="Polybar" execute="manjaro-polybar-pipemenu"/>
	<menu id="ConkyPipeMenu" label="Conky" execute="manjaro-conky-pipemenu"/>
	<menu id="TintPipeMenu" label="Tint2" execute="manjaro-tint2-pipemenu"/>
	<menu id="CompositingPipeMenu" label="Compositor" execute="manjaro-compositor"/>
	<menu id="system-settings" label="System">
		<item label="Audio Settings">
			<action name="Execute">
				<command>pavucontrol</command>
			</action>
		</item>
		<item label="Add/Remove Software">
			<action name="Execute">
				<command>pamac-manager</command>
			</action>
		</item>
		<item label="Screen Layout">
			<action name="Execute">
				<command>arandr</command>
			</action>
		</item>
		<item label="Settings Manager">
			<action name="Execute">
				<command>xfce4-settings-manager</command>
			</action>
		</item>
	</menu>
	<item label="Reconfigure Openbox">
		<action name="Reconfigure"/>
	</item>
	<item label="Restart Openbox">
		<action name="Restart"/>
	</item>
	<separator/>
	<item label="Wallpaper">
		<action name="Execute">
			<command>nitrogen</command>
		</action>
	</item>
	<item label="Panel Chooser">
		<action name="Execute">
			<command>manjaro-panel-chooser</command>
		</action>
	</item>
	<item label="Rofi Theme">
		<action name="Execute">
			<command>rofi-theme-selector</command>
		</action>
	</item>
</menu>
<!-- ROOT MENU -->
<menu id="root-menu" label="Openbox 3">
    <separator label="Install Manjaro Openbox"/>
    <item label="Manjaro User Guide">
        <action name="Execute">
            <command>xreader "/usr/share/doc/manjaro/Beginner_User_Guide.pdf"</command>
        </action>
    </item>
    <item label="Calamares Installer">
        <action name="Execute">
            <command>calamares_polkit</command>
        </action>
    </item>
    <item label="Architect Installer">
        <action name="Execute">
            <command>termite -e "sudo setup"</command>
        </action>
    </item>
    <separator label="Manjaro Openbox"/>
    <item label="Terminal">
        <action name="Execute">
            <command>termite</command>
        </action>
    </item>
    <item label="Filemanager">
        <action name="Execute">
            <command>exo-open --launch FileManager</command>
        </action>
    </item>
    <item label="Midnight Commander">
        <action name="Execute">
            <command>termite -e mc</command>
        </action>
    </item>
    <separator/>
    <menu id="disk-utilities"/>
    <menu id="screenshot"/>
    <menu id="applications" label="Applications" execute="/usr/bin/obmenu-generator -S ~/.config/obmenu-generator/applications.pl"/>
    <separator/>
    <menu id="pipe-placesmenu" label="Places" execute="manjaro-places-pipemenu --recent ~/"/>
    <separator/>
    <menu id="preferences"/>
    <menu id="keybinds" label="Keybinds" execute="manjaro-kb-pipemenu"/>
    <separator/>
    <menu id="help" label="HELP &amp; INFO" execute="manjaro-help-pipemenu"/>
    <separator/>
    <item label="Switch Menu">
        <action name="Execute">
            <command>switchmenu -dynamic</command>
        </action>
    </item>
    <separator/>
    <item label="Lock Screen">
        <action name="Execute">
            <command>lockscreen -- scrot</command>
        </action>
    </item>
    <item label="Exit Openbox">
        <action name="Execute">
            <command>rofr.sh -l</command>
        </action>
    </item>
</menu>
</openbox_menu>
